{% extends "conteneur.html" %}
{% block corps %}
<div class="acte-global">
	{% if 1<=id<28 %}
        {% if id>1 %}
            <div class="h1_global">
                <h1>Acte {{id}}</h1>
                <div class="prec_suiv">
                    <p class="prec"><a href="{{url_for('acte', acte_id=id-1)}}">&lt; précédent</a> </p>
                    <p class="suiv"><a href="{{url_for('acte', acte_id=id+1)}}">suivant &gt;</a></p>
                </div>
            </div>
        {% else %}
            <div class="h1_global">
                <h1>Acte {{id}}</h1>
                <div class="prec_suiv">
                    <p class="suiv"><a href="{{url_for('acte', acte_id=id+1)}}">suivant &gt;</a></p>
                </div>
            </div>
        {% endif %}
	{{contenu_acte|safe}}
	{% elif id<1 %}
		<p style="font-weight: bold; text-align: center; margin-top: 3%;">
            Attention : la numérotation des actes commence à 1. <a href="{{url_for('acte', acte_id=1)}}">Afficher l'acte n° 1.</a>
        </p>
	{% else %}
        <p>L'acte n°{{id}} n'est pas encore transcrit. <a href="{{url_for('acte', acte_id=27)}}">Revenir au dernier acte transcrit (n°27)</a> ou <a href="{{url_for('accueil')}}">revenir à l'accueil.</a></p>
    {% endif %}
</div>
{% endblock %}
