{% extends "conteneur.html" %}
{% block corps %}
<div class="acte-global">
	{% if 1<=id<33 %}
        {% if id>1 %}
            <div class="container">
              <div class="row">
                <div class="col">
                  <h1 class="h1_global">Acte {{id}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                 <p class="precedent"><a href="{{url_for('acte', acte_id=id-1)}}">&lt; précédent</a></p>
                </div>
                <div class="col-6">
                  <p><a href="{{url_for('acte', acte_id=id+1)}}">suivant &gt;</a></p>
                </div>
              </div>
            </div>
        {% else %}
            <div class="container">
              <div class="row">
                <div class="col">
                  <h1 class="h1_global">Acte {{id}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                    <p></p>
                </div>
                <div class="col-6">
                  <p><a href="{{url_for('acte', acte_id=id+1)}}">suivant &gt;</a></p>
                </div>
              </div>
            </div>
        {% endif %}
        {{contenu_acte|safe}}
	{% elif id<1 %}
		<p style="font-weight: bold; text-align: center; margin-top: 3%;">
            Attention : la numérotation des actes commence à 1. <a href="{{url_for('acte', acte_id=1)}}">Afficher l'acte n° 1.</a>
        </p>
    {% elif id>374 %}
        <p style="font-weight: bold; text-align: center; margin-top: 3%;">
            Attention : le corpus compte 374 actes. <a href="{{url_for('corpus')}}">Revenir à la liste des actes.</a>
        </p>
	{% else %}
        <h1 class="h1_global">Acte {{id}}</h1>
        <p style="font-weight: bold; text-align: center; margin-top: 3%;">L'acte n°{{id}} n'est pas encore en ligne. <a href="{{url_for('acte', acte_id=32)}}">Revenir au dernier acte mis en ligne (n°32)</a>.</p>
    {% endif %}
</div>
{% endblock %}
