{% extends "conteneur.html" %}
{% block corps %}
<div class="acte-global">
	{% if 1<=id<33 %}
        {% if id>1 %}
            <div class="h1_global">
                <h1>Acte {{id}}</h1>
            </div>
            <div class="prec_suiv">
                    <p>
                        <a href="{{url_for('acte', acte_id=id-1)}}">&lt; précédent</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{url_for('acte', acte_id=id+1)}}">suivant &gt;</a>
                    </p>
            </div>
        {% else %}
            <div class="h1_global">
                <h1>Acte {{id}}</h1>
                <div class="prec_suiv">
                    <p><a href="{{url_for('acte', acte_id=id+1)}}">suivant &gt;</a></p>
                </div>
            </div>
        {% endif %}
	{{contenu_acte|safe}}
	{% elif id<1 %}
		<p style="font-weight: bold; text-align: center; margin-top: 3%;">
            Attention : la numérotation des actes commence à 1. <a href="{{url_for('acte', acte_id=1)}}">Afficher l'acte n° 1.</a>
        </p>
    {% elif id>374 %}
        <p style="font-weight: bold; text-align: center; margin-top: 3%;">
            Attention : le corpus compte 374 actes. <a href="{{url_for('corpus')}}">Revenir à la liste des actes.</a>
        </p>
	{% else %}
        <p style="font-weight: bold; text-align: center; margin-top: 3%;">L'acte n°{{id}} n'est pas encore transcrit. <a href="{{url_for('acte', acte_id=32)}}">Revenir au dernier acte transcrit (n°32)</a>.</p>
    {% endif %}
</div>
{% endblock %}
