{% extends "conteneur.html" %}
{% block corps %}
    <div class="result-global">
        <div>
            <h1 class="h1_global">Rechercher dans le corpus</h1>
        </div>
        <div class="form-global">
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche libre dans les analyses :</p>
                <div class="form-sub">
                    <input name="keyword" type="search" placeholder="Recherche" aria-label="Recherche" class="form-keyword-global">
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Rechercher</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche des actes par année <i>(1421, puis à partir de 1425)</i> :</p>
                <div class="form-sub">
                    <input name="keyword_year" type="search" placeholder="Année (AAAA)" aria-label="Recherche" class="form-keyword-global">
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Rechercher</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon les lieux de conservation des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div  class="form-keyword-sub">
                            <select name="keyword_archives" type="search"  class="form-keyword">
                                {% for item in Depots_nationaux %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                                <optgroup label="Archives départementales">
                                    {% for item in Arch_dep %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Archives municipales">
                                    {% for item in Arch_mun %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Deperdita (imprimés)">
                                    {% for item in Deperditum %}
                                        <option value="deperditum">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon les lieux de production des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div  class="form-keyword-sub">
                            <select name="keyword_place" type="search"  class="form-keyword">
                                <optgroup label="Allier">
                                    <option value="Chantelle">Chantelle</option>
                                    <option value="Gannat">Gannat</option>
                                    <option value="Hérisson">Hérisson</option>
                                    <option value="Montluçon">Montluçon</option>
                                    <option value="Moulins">Moulins</option>
                                    <option value="Souvigny">Souvigny</option>
                                </optgroup>
                                <optgroup label="Indre-et-Loire">
                                    <option value="Chinon">Chinon</option>
                                </optgroup>
                                <optgroup label="Puy-de-Dôme">
                                    <option value="Riom">Riom</option>
                                </optgroup>
                                <optgroup label="Saône-et-Loire">
                                    <option value="Autun">Autun</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon l'état des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div  class="form-keyword-sub">
                            <select name="keyword_state" type="search"  class="form-keyword">
                                <option value="minute">Minute</option>
                                <option value="original">Original</option>
                                <option value="copie">Copie</option>
                                <option value="deperditum">Deperditum</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon le type des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div  class="form-keyword-sub">
                            <select name="keyword_type" type="search"  class="form-keyword">
                                <option value="Charte">Charte</option>
                                <option value="Lettres patente">Lettres patentes</option>
                                <option value="Mandement">Mandement</option>
                                <option value="Lettres closes">Lettres closes</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}