{% extends "conteneur.html" %}
{% block corps %}
    <div class="result-global">
        <div>
            <h1 class="h1_global">Rechercher dans le corpus</h1>
        </div>
        <div class="form-global">
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche libre dans les analyses :</p>
                <div class="form-sub">
                    <input name="keyword" type="search" placeholder="Recherche" aria-label="Recherche" class="form-keyword-global">
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Rechercher</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche des actes par année :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div class="form-keyword-sub">
                            <select name="year" type="search"  class="form-keyword">
                                {% for item in list_years %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon les lieux de conservation des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div class="form-keyword-sub">
                            <select name="archives" type="search"  class="form-keyword">
                                {% for item in list_institutions %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                                <optgroup label="Archives départementales">
                                    {% for item in list_AD %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Archives municipales">
                                    {% for item in list_AM %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Deperdita (imprimés)">
                                    {% for item in list_deperdita %}
                                        <option value="deperditum">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon les lieux de production des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div class="form-keyword-sub">
                            <select name="place" type="search"  class="form-keyword">
                                <optgroup label="Allier (duché de Bourbonnais)">
                                    {% for item in list_Allier %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Indre-et-Loire">
                                    {% for item in list_IndreetLoire %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Loire (comté de Forez)">
                                    {% for item in list_Loire %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Puy-de-Dôme (duché d'Auvergne)">
                                    {% for item in list_Puy %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                                <optgroup label="Saône-et-Loire">
                                    {% for item in list_SaoineetLoire %}
                                        <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon l'état des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div class="form-keyword-sub">
                            <select name="state" type="search"  class="form-keyword">
                                <option value="minute">Minute</option>
                                <option value="original">Original</option>
                                <option value="copie">Copie</option>
                                <option value="deperditum">Deperditum</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
            <form action="{{url_for('resultats')}}" method="GET">
                <p>Recherche selon le type des actes :</p>
                <div class="form-sub">
                    <div class="form-keyword-global">
                        <div class="form-keyword-sub">
                            <select name="type" type="search"  class="form-keyword">
                                <option value="Charte">Charte</option>
                                <option value="Lettres patente">Lettres patentes</option>
                                <option value="Mandement">Mandement</option>
                                <option value="Lettres closes">Lettres closes</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-button-global">
                        <button type="submit" class="form-button">Selectionner</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}