{% extends "conteneur.html" %}
{% block corps %}
<div class="result-global">
    <h1 class="h1_global">Résultats de la recherche</h1>
    <div>
        {% if resultats %}
            {% for acte in resultats.items %}
                <div class="result-item">
                    <a href="{{url_for('acte', acte_id=acte.id_acts)}}">
                        <p class="result-item-acte">Acte n°{{acte.id_acts}} ({{acte.date}},  {{acte.state}}, {{acte.institution}}).</p>
                        <p style="margin-left: 2.5%; margin-top: 0.25%;"><i>{{acte.analyse}}.</i></p>
                    </a>
                </div>
            {% endfor %}
            <div>
                {%- for page in resultats.iter_pages() %}
                {% if page %}
                    {% if page != resultats.page %}
                        <a href="{{ url_for('resultats', keyword=motclef, page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span>…</span>
                {% endif %}
                {%- endfor %}
            </div>
        {% elif resultats_institution %}
            {% for depot in resultats_institution.items %}
                <div class="result-item">
                    <a href="{{url_for('acte', acte_id=depot.id_acts)}}">
                        <p class="result-item-acte">Acte n°{{depot.id_acts}} ({{depot.date}}, {{depot.state}}, {{depot.institution}}).</p>
                        <p style="margin-left: 2.5%; margin-top: 0.25%;"><i>{{depot.analyse}}.</i></p>
                    </a>
                </div>
            {% endfor %}
        {% elif resultats_annee %}
            {% for annee in resultats_annee.items %}
                <div class="result-item">
                    <a href="{{url_for('acte', acte_id=annee.id_acts)}}">
                        <p class="result-item-acte">Acte n°{{annee.id_acts}} ({{annee.date}}, {{annee.state}}, {{annee.institution}}).</p>
                        <p style="margin-left: 2.5%; margin-top: 0.25%;"><i>{{annee.analyse}}.</i></p>
                    </a>
                </div>
            {% endfor %}
        {% elif resultats_lieu_production.items %}
            {% for lieu in resultats_lieu_production %}
                <div class="result-item">
                    <a href="{{url_for('acte', acte_id=lieu.id_acts)}}">
                        <p class="result-item-acte">Acte n°{{lieu.id_acts}} ({{lieu.date}}, {{lieu.state}}, {{lieu.institution}}).</p>
                        <p style="margin-left: 2.5%; margin-top: 0.25%;"><i>{{lieu.analyse}}.</i></p>
                    </a>
                </div>
            {% endfor %}
        {% elif resultats_state %}
            {% for etat in resultats_state.items %}
                <div class="result-item">
                    <a href="{{url_for('acte', acte_id=etat.id_acts)}}">
                        <p class="result-item-acte">Acte n°{{etat.id_acts}} ({{etat.date}}, {{etat.state}}, {{etat.institution}}).</p>
                        <p style="margin-left: 2.5%; margin-top: 0.25%;"><i>{{etat.analyse}}.</i></p>
                    </a>
                </div>
            {% endfor %}
        {% elif resultats_type %}
            {% for type in resultats_type.items %}
                <div class="result-item">
                    <a href="{{url_for('acte', acte_id=type.id_acts)}}">
                        <p class="result-item-acte">Acte n°{{type.id_acts}} ({{type.date}}, {{type.state}}, {{type.institution}}).</p>
                        <p style="margin-left: 2.5%; margin-top: 0.25%;"><i>{{type.analyse}}.</i></p>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>Votre recherche n'a pas donné de résultat. <a href="{{url_for('recherche')}}">Retourner à la page recherche.</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}