/*
    =============================================================================================

                                    FICHIER CSS PRINCIPAL

    # Contenu :

        * Mise en forme des liens <a> ;

        * Mise en forme des titres <h1>, <h2>, <h3> ;

        * Mise en forme du conteneur ;

        * Mise en forme des pages : Accueil, À propos, Bibliographie, Le duc, Liste des actes,
          Actes, Index (noms, prosopographique, lieux), Contact, Mentions légales, Érreur 404.

    # Pour le css des header, navbar et footer : cf. header.css et footer.css ;

    # Pour le css des pages Recherche et Résultats : cf. form.css ;

    # Pour le css du tableau de la page Liste des actes : cf. table.css ;

    # Pour les polices/fonts d'écriture : cf. font.css.

    =============================================================================================
*/

/* Global : balises */

html {
    height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%
}

sup {
    line-height: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    text-decoration: none;
    color: #B1B0B0;
}

/* Global : titres */
.h1_global {
    margin: auto;
    text-align: center;
}

.h2_global {
    text-align: center;
    font-size: x-large;
    margin-top: 4%;
}

.h3_global {
    font-size: large;
    font-style: bold;
    margin-top: 4%;
}

/* Global : images */
.img-global {
  width: 100%;
  height: auto;
}

/* CONTENEUR */
.arriere_plan {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* ACCUEIL */
.global-home {
    margin: 5% auto 7% auto ;
}

.caption-main {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin: 1.5% auto 0 auto;
}

.caption-sub {
    text-align: center;
    font-style: italic;
    font-size: small;
    margin-top: 0;
}

.home-text {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}

.home-text-main {
    font-size: large;
    line-height: 2;
}

.home-text-sub {
    font-size: 10pt;
    font-style: italic;
}

/* PAGES PROJET = À PROPOS, BIBLIOGRAPHIE, LE DUC */
.projet-text {
    text-align: justify;
    margin: 4% auto 8% auto;
}

#biblio > p {
    margin-top: 1%;
    margin-bottom: 1%;
    text-indent: -2%;
}

.duc-biblio {
    font-size: 10pt;
    margin-top: 8%;
}

/* CORPUS = LISTE DES ACTES */
.corpus-global {
    margin-top: 2%;
    margin-bottom: 4%;
}


/* ACTES */
.acte-global {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 2%;
}

.precedent {
    display: flex;
    justify-content: right;
}

.numero {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.date {
    text-align: center;
    font-size: 20px;
    margin-top: 4%;
    margin-bottom: 3%;
}

.analyse {
    text-align: justify;
    font-style: italic;
    font-size: 18px;
    line-height: 1.8;
}

.analyse > p {
    text-indent: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.tradition {
    font-size: small;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.tradition > p {
    margin: 0.5%;
}

.act {
    text-align: justify;
    text-indent: 5%;
    margin-top: 2%;
    margin-bottom: 0.5%;
    font-size: 18px;
    line-height: 2;
}

.text_etabli {
    text-align: center;
    font-variant: small-caps;
    font-size: 18pt;
}

.mht {
    text-indent: 5%;
    font-size: 14pt;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.signature {
    text-indent: 5%;
    font-size: 14pt;
    margin-top: 0.5%;
    margin-bottom: 0.5%
}

.signature > p {
    margin-top: 0%;
    margin-bottom: 0.5%
}

.note-global {
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 11pt;
}

.note-global > p {
    margin: 0.25%;
    text-align: justify;
}


/* INDEX */
.index-global {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 5%;
}

.index-h2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: x-large;
    margin-top: 1%;
    margin-bottom: 0%;
}

.index-h3 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: large;
    font-style: bold;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 0%;
}

.index-h4 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: large;
    font-style: italic;
    margin-top: 0%;
    margin-left: 4%;
    margin-bottom: 0%;
}

.index-rules {
    margin-top: 4%;
}

.index-section-global {
    margin-top: 1%;
    margin-bottom: 0%;
}

.index-section-main {
    margin-left: 3%;
}

.index-sub-section {
    column-count: 3;
    margin-left: 2.5%
}

.index-sub-sub-section {
    column-count: 3;
    margin-left: 4%
}

.index-section-main > p {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.index-note {
    margin-top: 0%;
    margin-top: none;
    text-indent: 2%;
}

/* CONTACT */
.contact-global {
    margin: 8% auto 15% auto;
}

.contact-global > p {
    margin: auto auto auto 5%;
    padding: auto 5% auto 5%;
}

/* MENTIONS LÉGALES */
.mentions-global {
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 2%;
    text-align: justify;
}
}
.mentions-div {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* ERREUR 404 */
.erreur-global {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: center;
    width: 100%;
    height: auto;
}

.erreur-figure {
    width: 100%;
}

.erreur-figure > img[usemap] {
    border: none;
    width: 95%;
    height: auto;
    max-width: 100vh;
    }