/* 
  ============================================
    
                CSS DU FOOTER

  ============================================
*/

/* Global */
.bloc-footer {
    background: #f8f9fa;
    padding: 4% 4% 4% 4%;
    font-family: 'Open Sans', sans-serif;
}

/* Bloc nom - icones - texte */
.text-footer {
    width: 100%;
    margin-right: 10%;
}

.name-icon-footer-global {
}

.name-icon-footer-global > div > p {
    font-size: small;
    margin-bottom: 1%;
}

.icon-footer {
    width: 2.5%;
    height: auto;
}

.credit-footer {
    font-size: x-small;
    text-align: justify;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

/* Bloc logo ENC */

.box-img-footer {
    width: 70%;
    margin-right: 0;
}

.img-footer {
    width: 90%;
    height: auto;
}