/* 
  ============================================
    
        CSS DU HEADER ET DE LA NAVBAR

  ============================================
*/

/* NAVBAR */
.nav-global {
  display: flex;
  flex-wrap: wrap;
  background: #f8f9fa;
  padding: 0.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: auto;
}

.nav-list {
  display: inherit;
  flex-wrap: inherit;
  justify-content: left;
  width: 100%;
}

.nav-form {
  display: inherit;
  flex-wrap: inherit;
}

.form-home {
  display: inherit;
  flex-wrap: inherit;
  padding-top: 3%;
}

.nav-form > button, .form-home > input, .form-home > div > button {
  display: inherit;
  flex-wrap: inherit;
  border: 0;
  line-height: 2.5;
  padding: 0 15px;
  text-align: center;
  border-radius: 10px;
  background-color: inherit;
}

#searchbar {
  background-color: #ffffff;
}

.nav-form > button:hover, .form-home > div > button:hover {
  background-color: #DBDBDB;
}

.nav-form > button:active, .form-home > div > button:active {
  color: #ffffff;
}

.dropbtn {
  background-color: inherit;
  color: black;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f8f9fa;
  text-decoration: none;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #DBDBDB;
}

.dropdown-content a:active {
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HEADER v */
.header-global {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f9fa;
  margin: 2 0% 0% 0%;
  padding: 4% 0% 0% 4%;
}

.header-text {
  display: inherit;
  flex-direction: column;
  flex-wrap: inherit;
  width: 70%;
  line-height: 1;
}

.header-text-l1 {
  flex-wrap: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 400%;
  font-size: 750%;
  margin: 0.25%;
}

.header-text-l2 {
  flex-wrap: inherit;
  text-indent: 3%;
  font-family: Helvetica;
  font-size: 400%;
  margin: 0.25%;
  height: 120px;
}

.header-text-l3 {
  flex-wrap: inherit;
  text-indent: 11%;
  font-family: Helvetica;
  font-size: 400%;
  margin: 0.25%;
}

.header-text > div > p {
  flex-wrap: inherit;
  margin: 0%;
}

.charles {
  flex-wrap: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 180%;
}

.bourbon {
  flex-wrap: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 180%;
}

.header-img-global {
  width: 30%;
}

.header-img {
  width: 80%;
}

.rotate div img {
  transition: all 2s ease;
}
 
.rotate div:hover img {
  -webkit-transform: rotate(-45deg);
  transform: rotate(360deg);
}