/* 
  ============================================
    
        CSS DU HEADER ET DE LA NAVBAR

  ============================================
*/

/* NAVBAR */
.nav-global {
  display: flex;
  flex-wrap: wrap;
  background: #f8f9fa;
  width: 100%;
  padding: 0.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-list {
  display: inherit;
  flex-wrap: inherit;
  justify-content: left;
  width: 100%;
}

.nav-form {
  display: inherit;
  flex-wrap: inherit;
}

.form-home {
  display: inherit;
  flex-wrap: inherit;
  padding-top: 3%;
}

.nav-form > button, .form-home > input, .form-home > div > button {
  display: inherit;
  flex-wrap: inherit;
  border: 0;
  line-height: 2.5;
  padding: 0 15px;
  text-align: center;
  border-radius: 10px;
  background-color: inherit;
}

#nav-searchbar {
  background-color: #ffffff;
}

.nav-form > button:hover, .form-home > div > button:hover {
  background-color: #DBDBDB;
}

.nav-form > button:active, .form-home > div > button:active {
  color: #ffffff;
}

.nav-dropbtn {
  background-color: inherit;
  color: black;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f8f9fa;
  text-decoration: none;
  min-width: 160px;
  z-index: 1;
}

.nav-dropdown-content a {
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
  text-decoration: none;
  display: block;
}

.nav-dropdown-content a:hover {
  background-color: #DBDBDB;
}

.nav-dropdown-content a:active {
  color: #ffffff;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

/* HEADER v */
.header-global {
  background-color: #f8f9fa;
  margin: 2% 0% 2% 0%;
  padding: 2% 0% 2% 0%;
}

.header-text-l1 {
  font-family: 'Open Sans', sans-s75if;
  font-size: 750%;
  margin: 0.25% 0 0.25% 0;
  line-height: 1;
}

.header-text-l2 {
  text-indent: 3%;
  font-family: Helvetica;
  font-size: 400%;
  margin: 0.25% 0 0.25% 0;
}

.header-text-l3 {
  text-indent: 11%;
  font-family: Helvetica;
  font-size: 400%;
  margin: 0.25% 0 0.25% 0;
}

.charles {
  font-family: 'Lato', sans-serif;
  font-size: 180%;
  line-height: 1;
}

.bourbon {
  font-family: 'Roboto', sans-serif;
  font-size: 180%;
  line-height: 1;
}

.rotate div img {
  transition: all 2s ease;
}
 
.rotate div:hover img {
  -webkit-transform: rotate(-45deg);
  transform: rotate(360deg);
}