{% extends "conteneur.html" %}
{% block corps %}
<div class="global_home">
    <figure class="div_img">
        <img src="{{url_for('static', filename='img/image1.jpg')}}" alt="Armoiries de Charles de Bourbon" class="img"/>
        <figcaption>
            <p class="caption-main">Armes de Charles I<sup>er</sup>, armorial de Guillaume Revel.</p>
            <p class="caption-sub">(BnF, ms. fr. 22297 &mdash; XV<sup>e</sup> siècle)</p>
        </figcaption>
    </figure>
    <div class="p_home">
        <p>Cette édition numérique a pour but de présenter un échantillon des actes de Charles I<sup>er</sup> de Bourbon et d’Agnès de Bourgogne, duc et et duchesse de Bourbon de 1434 à 1456. Elle s'appuie sur un mémoire de Master recherche dirigé par Olivier Mattéoni et présenté à l'École d'histoire de l'Université Paris I Panthéon-Sorbonne en juin 2018, dont le sujet était l'étude de la chancellerie de Charles I<sup>er</sup> au prisme de ses actes.</p>
        <p>L'application est développée par Jean-Damien Généro dans le cadre des enseignements du Master &#171; Technologies numériques appliquées à l'histoire &#187; de l'École nationale des chartes (XML-TEI, XSLT, HTML, CSS, Python).</p>
    </div>
</div>
<!--
<div class="container">
    <div class="row">
        <div class="col">
            <figure class="img">
                <img src="{{url_for('static', filename='img/0_accueil_img1.jpg')}}" width="400px" alt="Ornementation de l'acte du 6 août 1450, par lequel le duc Charles institue des fondations pieuses en l'église du prieuré de Souvigny (AN, P1356/1, c. 174)." title="Ornementation de l'acte du 6 août 1450, par lequel le duc Charles institue des fondations pieuses en l'église du prieuré de Souvigny.">
                <figcaption>Acte du 6 août 1450, détail<br />(AN, P1356<sup>1</sup>, c. 174).</figcaption>
            </figure>
        </div>
        <div class="col">
            <p style="text-align: justify; font-family: 'Open Sans', sans-serif;">Cette édition numérique a pour but de présenter un échantillon des actes de Charles I<sup>er</sup> de Bourbon et d’Agnès de Bourgogne, duc et et duchesse de Bourbon de 1434 à 1456. Elle s'appuit sur un mémoire de recherche dirigé par Olivier Mattéoni et présenté à l'Université Paris I Panthéon-Sorbonne en juin 2018, dont le sujet était l'étude de la chancellerie de Charles I<sup>er</sup> au prisme de ses actes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p style="text-align: justify; font-family: 'Open Sans', sans-serif;">Cet espace est réalisé par Jean-Damien Généro dans le cadre d'un exercie d'application des enseignements d'HTML, CSS et Python du Master Technologies numériques appliquées à l'histoire de l'École nationale des chartes.</p>
        </div>
        <div class="col" style="text-align: justify; font-family: 'Open Sans', sans-serif;">
            <figure class="right_float img">
                <img src="{{url_for('static', filename='img/0_accueil_img2.jpg')}}" alt="Mention hors teneur de l'acte du 3 aout 1453" width="400px" title="Mention hors teneur de l'acte du 3 aout 1453">
                <figcaption>Mention hors teneur de l'acte du 3 août 1453<br />(AN, P1355<sup>1</sup>, c. 49).</figcaption>
            </figure>
        </div>
    </div>
</div>
-->
{% endblock %}
