<!DOCTYPE html>
<html lang="fr">

{% include "partials/css_projet.html" %}

<head>
    <meta charset="UTF-8">
    <title>Actes de Charles Ier de Bourbon</title>
</head>

<body>
    <nav class="nav-global fixed-top">
        <div class="nav-list">
                <form class="nav-form" action="{{url_for('accueil')}}" method="get" style="margin-right: 3%;">
                    <button class="dropbtn">Accueil</button>
                </form>
                <form class="dropdown nav-form">
                    <button class="dropbtn">Projet</button>
                    <div class="dropdown-content">
                        <a href="{{url_for('projet')}}">À propos</a>
                        <a href="{{url_for('bibliographie')}}">Bibliographie</a>
                    </div>
                </form>
                <form class="nav-form" action="{{url_for('duc')}}" method="get">
                    <button class="dropbtn">Le&nbsp;duc</button>
                </form>
                <form class="dropdown nav-form">
                    <button class="dropbtn">Actes</button>
                    <div class="dropdown-content">
                        <a href="{{url_for('corpus')}}">Liste des actes</a>
                        <a href="{{url_for('recherche')}}">Recherche</a>
                    </div>
                </form>
                <form class="dropdown nav-form">
                    <button class="dropbtn">Index</button>
                    <div class="dropdown-content">
                        <a href="{{url_for('index_noms')}}">Index nominum</a>
                        <a href="{{url_for('index_prosopo')}}">Index prosopographique</a>
                        <a href="{{url_for('index_lieu')}}">Index locorum</a>
                    </div>
                </form>
                <form class="nav-form" action="{{url_for('contact')}}" method="get">
                    <button class="dropbtn">Contact</button>
                </form>
                <form class="nav-form" action="{{url_for('resultats')}}" method="GET">
                    <div class="form-home">
                        <input name="keyword" type="search" placeholder="Rechercher dans les actes" aria-label="Recherche" id="searchbar">
                        <div>
                            <button type="submit">Rechercher</button>
                        </div>
                    </div>
                </form>
        </div>
    </nav>
    <!--<nav class="nav-global fixed-top">
        <button class="dropbtn" style="margin-right: 3%;">
            <a href="{{url_for('accueil')}}">Accueil</a>
        </button>
        <div class="nav-list">
            <div class="nav-item">
                <li class="dropdown">
                  <button class="dropbtn">Projet</button>
                  <div class="dropdown-content">
                    <a href="{{url_for('projet')}}">À propos</a>
                    <a href="{{url_for('bibliographie')}}">Bibliographie</a>
                  </div>
                </li>
                <button class="dropbtn">
                    <a href="{{url_for('duc')}}">Le&nbsp;duc</a>
                </button>
                <li class="dropdown">
                  <button class="dropbtn">Actes</button>
                  <div class="dropdown-content">
                    <a href="{{url_for('corpus')}}">Liste des actes</a>
                    <a href="{{url_for('recherche')}}">Recherche</a>
                  </div>
                </li>
                <li class="dropdown">
                  <button class="dropbtn">Index</button>
                  <div class="dropdown-content">
                    <a href="{{url_for('index_noms')}}">Index nominum</a>
                    <a href="{{url_for('index_prosopo')}}">Index prosopographique</a>
                    <a href="{{url_for('index_lieu')}}">Index locorum</a>
                  </div>
                </li>
                <button class="dropbtn">
                    <a href="{{url_for('contact')}}">Contact</a>
                </button>
            </div>
        </div>
    </nav>-->
        <header class="header-global">
            <div class="header-text-global">
                <h1 class="header-h1">
                    <p class="l1">Actes</p>
                    <p class="l2">de <hi class="charles">Charles I</hi><sup>er</sup></p>
                    <p class="l3">de <hi class="bourbon">Bourbon</hi></p>
                </h1>
            </div>
            <div class="rotate header-img-global">
                <div>
                    <img src="{{url_for('static', filename='img/sceau_accueil.png')}}" class="header-img" alt="Sceau de Charles Ier">
                </div>
            </div>
        </header>
    <div>
        <div class="arriere_plan">
            {% block corps%}{%endblock%}
        </div>
    </div>
    <div>
        <footer class="bloc-footer">
            <div>
                <div class="global-footer">
                    <div class="text-footer">
                        <div class="name-icon-footer-global">
                            <div class="name-footer">
                                © Jean-Damien Généro
                            </div>
                            <div  class="icon-footer">
                                <a href="https://fr.linkedin.com/in/jean-damien-genero" target="_blank">
                                    <img src="{{url_for('static', filename='img/linkedin.png')}}" alt="Linkedin" width="6%" height="auto">
                                </a>
                                <a href="https://github.com/jeandamien-genero" target="_blank">
                                    <img src="{{url_for('static', filename='img/github.png')}}" alt="Github" width="6%" height="auto">
                                </a>
                                <a href="http://sorbonne.academia.edu/JeanDamienGenero" target="_blank">
                                    <img src="{{url_for('static', filename='img/academia.png')}}" alt="Academia" width="6%" height="auto">
                                </a>
                            </div>
                        </div>
                        <p class="credit-footer">Application développée en 2020 dans le cadre du <a href="http://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire" target="_blank">Master &#171; Technologies numériques appliquées à l'histoire &#187;</a> de l'École nationale des chartes, à partir d'un mémoire de Master recherche soutenu en 2018 à l'École d'histoire de la Sorbonne (Université Paris I). <a href="{{url_for('mentions_legales')}}">Lire les mentions légales.</a></p>
                    </div>
                    <div class="box-img-footer">
                        <a href="http://www.chartes.psl.eu/" target="_blank"><img src="{{url_for('static', filename='img/logo_enc.png')}}" alt="Logo de l'École des chartes" class="img-footer"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
